<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <h3>this is something random</h3>
        <p>I like cheese</p>
        <h2>Yup! totally not random</h2>
        <p>yeah</p>
    </body>
</html>